.places__url {
    
    padding: 0px 0px 0px 0px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: underline;

    color: #FFFFFF;
}