@import url('./__item/photo-grid__item.css');

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    margin: 97px 0;
    grid-gap: 16px 16px;    
    
    width: 1184px;
    max-width: 100%;
    min-width: 288px;
}

@media screen and (max-width: 1200px) {
    .photo-grid {
        width: calc(100% - 2*48px);
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);        
        
        width: 928px;
        max-width: 100%;
        min-width: 288px;       
        margin: 97px 0px;
        grid-gap: 16px 15px;
    }
}

@media screen and (max-width: 950px) {
    .photo-grid {
        width: calc(100% - 2*24px);
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);        
        
        width: 720px;
        max-width: 100%;
        min-width: 288px;       
        margin: 92px 0px;
        grid-gap: 17px 15px;
    }
}

@media screen and (max-width: 720px) {
    .photo-grid {
        width: calc(100% - 2*16px);
        max-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);        
        
        width: calc(100% - 2*16px);
    }
}