.intro__content-text {
    width: 69%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.68em;
    color: #FFFFFF;
    margin-top: 34px;
}

@media screen and (max-width:1024px) {
    .intro__content-text {
        max-width: 100%;
        min-width: 288px;
        width: 695px;
        
        margin: 35px 0px 0px 2px;
    }
}

@media screen and (max-width:768px) {
    .intro__content-text {
        max-width: 100%;
        min-width: 288px;
        width: 720px;
        
        margin: 35px 0px 0px 0px;
    }
}