@import url("./__comment/comments__comment.css");

.comments__container {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 19px;
    max-width: 100%;
    width: 1184px;
}

@media screen and (max-width: 768px){
    .comments__container {
        width: 100%;
        
        margin: 64px 0 0px 0px;
        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
	}
}