@import url('./__logo/header__logo.css');
@import url('./__lang-selector/header__lang-selector.css');

.header {
    width: 1184px;
    max-width: 100%;
    min-width: 200px;
    display: flex;

    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .header {				
        width: 92.5%;					
	}
}

@media screen and (max-width: 1024px) {
    .header {				
        width: 90.5%;					
	}
}

@media screen and (max-width: 768px) {
    .header {				
        width: 93.64%;					
	}
}

@media screen and (max-width: 425px) {
    .header {                
        width: calc(100% - 2*16px);					
	}
}



