.lead__title {
	width: 8em;
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	font-size: 6em;
	line-height: 0.96;
	text-align: center;
	color: #FFFFFF;
	margin: 9px 0px 0px 2px;
	display: flex;
}

@media screen and (max-width: 720px) {
	.lead__title {
		font-size: 4.2em;        
  }
}

@media screen and (max-width: 490px) {
	.lead__title {
		font-size: 3.2em;        
  }
}

@media screen and (max-width: 425px) {
	.lead__title {
		margin: 0px 0px 0px 2px;
		width: calc(100% - 2*12px);
		
		font-size: 40px;
    line-height: 44px;        
  }
}