@import url('./__title/intro___title.css');
@import url('./__subtitle/intro__subtitle.css');
@import url('./__facts/intro__facts.css');
@import url('./__content-text/intro__content-text.css');

.intro {
    max-width: 100%;
	min-width: 288px;
	width: 984px;
    
    display: flex;
    flex-direction: column;
    
    margin: 0 16px;
}

@media screen and (max-width:1024px) {
    .intro {
        max-width: 100%;
        min-width: 288px;
        width: 91%;
        
        margin: 0px 0px;
    }
}

@media screen and (max-width:768px) {
    .intro {
        max-width: 100%;
        min-width: 288px;
        width: 93.8%;
        
        margin: 21px 0px 0px 0px;
    }
}