.video__subtitle {
    /*! margin: 0 0 28px 31px; */
    z-index: 6;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;



    color: #FFFFFF;

    position: absolute;
    bottom: 26px;
    left: 30px;

    pointer-events: none;
}

@media screen and (max-width: 1024px) {
    .video__subtitle {
        bottom: 30px;
        left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .video__subtitle {
        bottom: 27px;
        left: 24px;
    }
}