.cover__title {
	z-index: 100;
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	font-size: 6em;
	line-height: 1.08;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 3.86em;
	padding: 0px 12px 0px 0px;
	pointer-events: none;
}

@media screen and (max-width: 1024px){
    .cover__title {
			max-width: 90%;
			width: 506px;
			top: 3em;
	    padding: 0px 32px 0px 0px;
			
	}
}

@media screen and (max-width: 768px){
    .cover__title {
			top: 2.4em;
	    padding: 0px 0px 0px 0px;
			
	}
}

@media screen and (max-width: 580px){
	.cover__title {
		width: calc(100% - 2*16px);
		top: 15%;
		padding: 0px 0px 0px 0px;
			
		font-size: 4.2em;
		line-height: 1.08;
			
	}
}

@media screen and (max-width: 425px){
	.cover__title {
		width: calc(100% - 2*16px);
		top: 2.4em;
		padding: 0px 0px 0px 0px;
			
		font-size: 32px;
		line-height: 35px;
			
	}
}